<div class="bg-cover-img">
    <br>
    <div class="d-flex justify-content-center align-items-center">

        <div class="col-md-10 col-sm-12 blur-area">
            <h4>Hey, I'm</h4>
            <h1><i>WAN MEI</i></h1>
            <span>Senior Application Analyst&nbsp;&nbsp;|&nbsp;&nbsp;wmong.sg@gmail.com</span>
            <hr>
            <span>
                I'm an IT professional with over 9 years of experience specializing in constructing User Interface (UI). I have been implementing responsive UI for websites, portals, and hybrid mobile applications.
                <br><br>
                This is a porfolio to showcase my development skills; where I am most passionate about creating beautiful UI for the benefits of others who uses it day in, day out. In my free time, I love to practice music and rest my self. Feel free to write to me and let me know what do you think.
            </span>
            <br><br><br><br><br>
            <p>
                <small>
                    Disclaimer:<br>I do not owned any of the images <small>(except for this page)</small> nor receiving any earning from the following sites. Credits of respective images goes to https://www.flickr.com/ and https://www.sweelee.com.sg/. None of the data found within this portfolio is real <small>(except for this page)</small>.
                </small>
            </p>
        </div>

    </div>
    <br>
</div>